html,body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
  color: #444
}

.right {
  float: right
}

div {
  box-sizing: border-box;
}

svg {
  width: 30px;
  height: 30px;
}

header {
  position: fixed;
  height: 50px;
  top: 0;
  width: 100%;
  background-color: #2eaef5;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.11);
  z-index: 100;
}


.editBtn {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block
}

.editBtn .svg-icon {
  fill: #FFF;
}

.search-wraper {
  width: 140px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 10px;
}
.search-txt {
  border: 0;
  padding: 6px 10px;
  width: 100%;
  border-radius: 100px
}


.mainarea {
  padding-top: 50px;
  height: 100%
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.11);
}

#app {
  height: 100%;
}

.upload-button {
  height: 96px;
  border: #ECECEC 1px solid;
  background-color: #FFF;
  margin-top: 31px;
  border-right: 0;
  width: 70px;
  font-size: 13px;
  line-height: 90px;
  text-align: center;
}

.upload-button form {
  height: auto!important;
}